@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 align="center">¡Bienvenido a THOT!</h1>
    <br />
    <p class="lead">Thot un sitio confiable donde se puede consultar información referente a las asignaturas que existen dentro del plan de estudios 2009 de la ESCOM son las siguientes</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Diseño Responsivo</h2>
        <p>
            Una importante característica que permite que Thot sea visible en múltiples dispositivos electrónicos, tales como PC, Laptop y Dispositivos móviles.
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Confiabilidad</h2>
        <p>En Thot se pretende utilizar ejercicios y prácticas que son utilizados por profesores de la ESCOM en diversas asignaturas con su desarrollo completo y claro para el fácil entendimiento de cada tema.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Ayuda y Soporte Técnico</h2>
        <p>En Thot estamos dispuestos a ofrecer un servicio de ayuda para eliminar cualquier inconveniente que pueda surgir durante la utilización del sistema, por lo que ofrecemos métodos de contacto con los miembros del equipo de trabajo.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>